@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bondora Equipment Rental Store</h1>
    <p>Please visit our equipments page to browse through and rent equipments!</p>
</div>
